* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------ŠÍŘKA STRÁNKY---------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------------Header--------------- */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.5)), 
                url("../img/metrix-view.png");
   
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
/* -------------Header----Navigace----------- */

#logo img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
 }
.nav-background{
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #3ac81e ;   
}
nav ul li {
    display: inline-block;
    color: #fff;
    margin-left: 25px;
}
nav ul { 
    position: fixed;
    left : 50%;
    transform: translate(-50%, 0);
    margin-top: 5px;
    min-width: 440px;    
    z-index: 20;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover,
nav ul li a.active {
    color: #26ff00;
    text-decoration: underline;
}

/*  ------ZAJÍŽDĚCÍ MENU------ */
.hidden-nav {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

/* -------------Header--MOBIL--Navigace----------- */
.mobil-nav-icon {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: none;
    width: 50px;
    height: 37px;
    z-index: 1000;
}
.mobil-nav-icon img {
    width: 100%; /* Obrázek vyplní celý rodičovský prvek */
    height: auto; /* Zachová poměr stran */
}

/* ----------------- */
.heder_text h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 3.5px;
    text-align: center;
}
.heder_text h2 {
    color: #fff;
    font-size: 25px;
    /* text-transform: uppercase; */
    letter-spacing: 1.5px;
    word-spacing: 3.5px;
    text-align: center;
}
.heder_text p {
    min-width: 300px;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1.5px;
    word-spacing: 3.5px;
    text-align: center;
}
.heder_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ---main--section----uprava nadpisů v sekcích---------- */
.heading-main h2 {
    text-align: center;
    margin-top: 20px;   
    font-size: 30px;
}
.heading-main h2::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 150px;
    border-bottom: #26ff00 2px solid;
}
/* ---main--section----1-sekce--o-mě---------- */
.about-obr img {
    display: block;
    width: 70%;
    margin: 5% auto;

    border: #000000 0.5px solid;
    border-radius: 40%;
    box-shadow: 15px 0px 20px #d23d3d, -15px 0px 20px #5861eb,0px 15px 20px #00ff2f, 0px -15px 20px #ffff00,18px 0px 10px #000000, -18px 0px 10px #000000,0px 18px 10px #000000, 0px -18px 10px #000000;
}
.info-text{
    margin: 20px;
    font-size: 18px;
    text-align: justify;
    text-indent: 2em;
}
.moto {
    font-style: italic;
    text-align: center;
    text-indent: 0;
} 

/* ---main--section--------3-sekce--dovednosti-------- */
.skills {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0,0,0,0.0)), 
        url("../img/metrix-view.png");
    height: 100%;
    background-attachment: fixed;
}
.skills h2 {
    color: #fff;
    padding-top: 20px;
}
.one-skill {
    color: #ffffff;
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,0.8));
    padding: 10px;
}
.one-skill p {
    font-size: 20px;
}
.logo-name {
    margin-top: 15px;
    margin-bottom: 30px;  
}
.logo-name p {
    padding: 14px;
    margin-left: 0;
    font-style: normal;
}
.logo-name img{
    width: 50px; 
    border-radius: 50%;   
    float: right;
}
/* ---main--section--------2-sekce--projekty-------- */

.projekt-example h3 {
   text-align: center;
    font-size: 25px;
    color: #000000;
    margin: 10px, 0;
}
.projekt-example p {
   text-align: justify;
    font-size: 18px;
    color: #000000;
    padding: 0,2000px;
    margin: 15px;
}
.projekt-example img {
    width: 96%;
    height: 100%;
    border: #000000 2px solid;
    border-radius: 15%;
    box-shadow: 0px 5px 30px #000000;
    margin: 2% ; 
}
.projekt-side-obr img{
    width:  44%;
    margin-top: 5%;
}

/* ---main--section--------,3,5-sekce--fotogalerie-------- */
/* .foto-segment li {
    list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    height: 300px;
} */

/* .foto-segment img {
    width: 100%;
    height: 300px;
        border: #000000 2px solid;
        border-radius: 30px;
        box-shadow: 10px 10px 20px #000000;
    opacity: 0.7;   
    transition: all 0.5s ease-in-out;
        transform: scale(1.15);
} */

/* .foto-segment img:hover {
    opacity: 1;
    transform: scale(1.15);
        transition: all 0.5s ease-in-out;

} */
/* ---main--section--------,4-sekce--KONTAKT-------- */

.kontakt {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.5)), 
        url("../img/metrix-view.png");
    height: 100%;
    padding-bottom: 20px;
    background-attachment: fixed;
}
.kontakt h2 {
    color: #fff;
    padding-top: 20px;
}
.contakt-form {
    width: 100%;
    text-align: center;
}
.contakt-form input {
    width: 50%;
    height: 40px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: #000000 2px solid;
    box-shadow: #26ff00 2px 2px 5px;
    font-size: 18px;
    color: #000000;
}
.contakt-form textarea {
    width: 50%;
    height: 200px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: #000000 2px solid;
    font-size: 18px;
    color: #000000;
    box-shadow: #26ff00 2px 2px 5px;
}
input[type="submit"] {
    width: 50%;
    height: 40px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: #000000 2px solid;
    box-shadow: #26ff00 2px 2px 5px;
    font-size: 18px;
    color: #000000;
    background-color: #26ff00;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
input[type="submit"]:hover {
    background-color: #000000;
    color: #26ff00;
}
/* Dialog po odeslání formuláře */
.status-form {
    display: none;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: #26ff00 2px solid;
    border-radius: 30px 0px 30px 0;
    min-width: 200px;
}

/* -------------Patička---------- */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.9)), 
                url("../img/metrix-view.png");
    height: 100%;
}
.social {
    text-align: center;
    margin: 10px 0;
}
.social p {
    font-size: 18px;
    display: inline;
    margin: 0 10px;
}
.social p a:link,
.social p a:visited {
    text-decoration: none;
    color: #26ff00;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}
.social p a:hover,
.social p a:active {
    color: #ffffff;
    text-decoration: underline;
}
.copywrite {
    text-align: center;
    color: #26ff00;
    font-size: 18px;
    margin: 10px 0;
}

/* -------------Další funkce a text---------- */
.btn {
    display: inline-block;
    margin-top: 7px;
    color: #ffffff;
    padding: 3px 20px;
    border: #26ff00 2px solid;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    background: #26ff00;
    color: #000000;
}
.btn-full {
    background: rgba(0, 255, 0, 0.5);
}
.btn-empty {
    margin-left: 10px;
}

/* konec floting- */
.clearfix {zoom: 1};
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* --------Tlačitko projekt gythub------- */
/* Kontejner tlačítka */
.btn-github-container {
    display: flex; /* Použití flexboxu pro zarovnání obsahu */
    justify-content: center; /* Horizontální zarovnání na střed */
    align-items: flex-end; /* Vertikální zarovnání na spodní část */
    width: 100%; 
}

/* Styl tlačítka */
.btn-github {
    display: flex; /* Flexbox pro zarovnání textu a obrázku */
    justify-content: center; /* Horizontální zarovnání obsahu */
    align-items: center; /* Vertikální zarovnání obsahu */
    text-decoration: none; 
    color: #26ff00; 
    font-size: 18px; 
    font-weight: bold; 
    background-color: #000000; 
    border: #26ff00 2px solid; 
    border-radius: 50px; 
    width: 80%; 
    transition: all 0.3s ease; 
    cursor: pointer; 
}
.btn-github:hover {
    background-color: #26ff00; 
    color: #000000; 
}
/* Obrázek uvnitř tlačítka */
.btn-github img {
    width: 30px; 
    border-radius: 50%; 
    background-color: black;
    margin: 0% 15px 0% 15px;  /* přepis margin u "projekt-example img" */
}
/* -------------------------- */